body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.box{
    width: 80%;
    padding: 20px;
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.291);
    border-radius: 4px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.head{
    margin-bottom:10px ;
    text-align: center;
}

.item-name{
    font-weight: 500;
    margin-bottom: 5px;
}

.items{
    margin-top: 5px;
    
    
}

.input{
   border: 1px solid black;
   outline: none;
   padding: 5px;
   width: 100%;
}

.input:focus{
    border: 1px solid black;

}

.submit{
    margin-top: 10px;
    background-color: transparent;
    color: black;
    border: 1px solid black;
    outline: none;
    padding: 8px;
    font-size: large;
    border-radius: 5px;
    width: 100%;
}

.btns{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}


.result_pre{
    display: flex;
    /* flex-direction: column; */
    
}

.results{
    display: flex;
    
    /* flex-direction: column; */
}

.items-pre{
    font-size: 26px;
    text-transform: capitalize;
    margin-bottom: 3px;
    margin-right: 10px;
}

.items-price{
    font-size: 26px;
margin-right: 10px;
}

.total-price{
    margin-top: 15px;
    font-size: large;
    font-weight: 500;
    letter-spacing: 5px;
}


@media screen and (max-width:768px) {
    .box{
        width: 80%;
    }

    .result_pre{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}